body{
    background-color: #d4e6f1  ;
}

.navbar{
    background-color: #111133;
}

.nav-link{
    transition: 0.2s;
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
    color: white;
}
.nav-link:hover{
    border-radius: 20%;
    transition: 0.3s;
    background-color: #a9cce3;
    transform: scale(1.2);
}

.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #a6cae054;
    border-color: rgb(202, 202, 202);
    color: black;
}

.card:hover {
    box-shadow: 0 8px 8px cadetblue;
    transform: scale(1.2);
}

.no-padding{
    padding: 0%;
}

.card-img-top{
    
    width: 200px;  /* Ancho fijo */
    height: 150px; /* Alto fijo */
    object-fit: cover; /* Recorta la imagen para ajustarla sin deformarla */
    padding: 5% 5% 0%; 
    width: 100%;
    height: 100%;
    border-image: 50%;
    object-fit: cover;
    border-radius: 20px;

}


