
body{
    background-color: #d4e6f1  ;
    font-family: 'Times New Roman', Times, serif;
}

hr{
    border-top: 2px solid white;
    border-radius: 20%;
}

.no-padding{
    padding: 0%;
}


.navbar-toggler-icon,
.navbar-toggler{
    background-color: #1f618d ;
}


.navbar{
    background-color: #cacfd2c2;
}

.nav-link.active {
    color: black !important;  
    font-weight: bold;      
}

.nav-link{
    transition: 0.2s;
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
    color: black;
}
.nav-link:hover{
    color: black;
    border-radius: 20%;
    transition: 0.3s;
    background-color: #1f618d;
    transform: scale(1.2);
}

.card{
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #1f618d;
    border-color: rgb(202, 202, 202);
    }

.card:hover {
    box-shadow: 0 8px 8px cadetblue;
    transform: scale(1.2);
}



.card-img-top{
    width: 200px; 
    height: 150px; 
    max-width: 100%;
    padding: 5% 5% 0%; 
    width: 100%;
    height: 100%;
    border-image: 50%;
    object-fit: cover;
    border-radius: 20px;
}

.col-auto{
    margin-top : 2.8%;
}

.btn{
    font-weight: 600;
}

.new-media{
    margin-top: 2%;
    bottom: 15px;
    font-size: 20px;
    padding: 20px;
    right: 10px;
    position: fixed;
    background-color: #1f618d;
    color: black;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0 8px 8px cadetblue;
    transform: scale(1.2);
}


.sidebear{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d4e6f1;
    width: 100%;
    padding: 1rem 1.5rem;
    height: 100%;
    overflow-y: auto;
}

.sidebear-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    
}

.hr{
    border-top: 2px solid black;
    border-radius: 20%;

}

